.boardgame {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    margin: 0 auto;
}
/* Don't forget to account for the border pixels as well */

h1 {
    text-align: center;
}
.square {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    font-size: 10rem;
    text-align: center;


}
